$font-size-heading: 40px;
$font-size-subheading: 25px;
$font-size-body: 15px;

$font-regular: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-medium: "Helvetica Neue Medium", Helvetica, Arial, sans-serif !default;
$font-bold: "Helvetica Neue Bold", Helvetica, Arial, sans-serif !default;

$color-brand-blue: rgb(4, 123, 193);
$color-brand-yellow: rgb(254, 192, 15);
$color-sky-blue: rgb(217, 235, 249);
$color-creamish: rgb(255, 251, 242);
$color-greyish: rgb(247, 243, 239);
$color-whitish: rgb(255, 251, 247);
$color-pure-white: rgb(255, 255, 255);
$banner-bg: rgb(251, 246, 240);
$font-color: #595b61;
$light-border-color:#e4e4e4;
$color-creamish: #F8F8F8;
$color-red:#cf3737;
$light-sky-blue-bg:#F8F8F8;
$light-blue-color:#1C80C6;
$blue-header-color-sade:#457ABD;



$box-shadow:1px 2px 2px rgba(0, 0, 0, 0.9);
