@use "./styles/variables" as *;

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBlack.otf") format("opentype");
  font-weight: 900; // Corresponds to 'Black'
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700; // Corresponds to 'Bold'
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueHeavy.otf") format("opentype");
  font-weight: 800; // Corresponds to 'Heavy'
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueHeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueItalic.ttf") format("truetype"); // Note: This one is .ttf
  font-weight: normal; // Or a specific weight if this is meant to be the regular italic
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300; // Corresponds to 'Light'
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500; // Corresponds to 'Medium'
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueMediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueRoman.otf") format("opentype");
  font-weight: 400; // Corresponds to 'Roman' (often standard/regular)
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueThin.otf") format("opentype");
  font-weight: 100; // Corresponds to 'Thin'
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueUltraLight.otf") format("opentype");
  font-weight: 200; // Corresponds to 'Ultralight'
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueUltraLightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0px;
  width: 100%;
  font-family: $font-regular;
  font-size: $font-size-body;
  background-color: $color-whitish;
  color: $font-color;
  overflow: visible;
  height: 100%;
  font-weight: 300;
  letter-spacing: 0.9px;
  // line-height: 1.5;
}

body,
html,
.header_section {
  overflow: visible;
}

footer {
  padding: 30px 96px;
  font-size: 15px;
  line-height: 1.6;
  color: $font-color;
  .footer-grid {
    border-top: 1px solid $font-color;
    border-bottom: 1px solid $font-color;
    padding: 60px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 60px;

    .footer_link_wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      font-weight: 300;
      letter-spacing: 0.9px;
      .footer_head_link {
        font-weight: 500;
      }
      .footer_link {
        font-weight: 300;
        cursor: pointer;
      }
      .footer_icon_wrapper {
        display: flex;
        column-gap: 10px;
        img {
          width: 22px;
          height: 22px;
        }
      }
    }
  }

  .spacing-top {
    margin-top: 20px;
  }

  .footer_info_text_wrapper {
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.9px;
  }

  @media (max-width: 1100px) {
    padding: 30px 20px;
  }
  @media (max-width: 992px) {
    .footer-grid {
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 60px;
    }
  }
  @media (max-width: 768px) {
    .footer-grid {
      grid-template-columns: 1fr 1fr;
      row-gap: 60px;
    }
  }
  @media (max-width: 500px) {
    .footer-grid {
      grid-template-columns: 1fr;
      row-gap: 60px;
    }
  }
}

.footer_link_section {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 96px;

  .heading_text {
    font-size: $font-size-heading;
    font-weight: 700;
  }
  .heading_underline_border {
    width: 83px;
    height: 3px;
    background-color: $color-brand-yellow;
    text-align: center;
    margin: 30px 0px 23px 0px;
  }
}

.main_heading_text {
  font-size: $font-size-heading;
  font-weight: 500;
}

.blue {
  color: $color-brand-blue;
}
.yellow {
  color: $color-brand-yellow;
}
.white {
  color: $color-pure-white;
}
.black {
  color: $font-color;
}
.red {
  color: red;
}

.submit_button {
  font-family: $font-regular;
  width: 160px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-brand-yellow;
  border: none;
  border-radius: 15px;
  color: $color-brand-blue;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: $color-brand-yellow;
  }
}

.hero-common-section {
  width: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .margin-bottom {
    margin-top: 60px;
  }

  .insurance-types {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 30px;

    .type-option {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      cursor: pointer;

      .icon-wrapper {
        width: 88px;
        height: 90px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-pure-white;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
      }

      .label {
        margin-top: 8px;
        color: $font-color;
        font-weight: 500;
      }

      &.active {
        .icon-wrapper {
          border: 3px solid $color-brand-blue;
        }

        .label {
          color: $color-brand-blue;
        }
      }
    }
    @media (max-width: 597px) {
      margin-top: 40px;
      gap: 20px;
    }
    @media (max-width: 525px) {
      .type-option {
        .icon-wrapper {
          width: 60px;
          height: 60px;
          padding: 20px;
          img {
            width: 40px;
            object-fit: contain;
          }
        }
      }
    }
    @media (max-width: 446px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .insurance-form {
    display: grid;
    gap: 15px;
    margin-top: 30px;

    .form_input_wrapper {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;

      @media (max-width: 500px) {
        grid-template-columns: 1fr;
      }
    }

    .hero_section_input {
      padding: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      border: none;
      height: 45px;
      background: none;
      width: 100%;
    }

    .terms {
      grid-column: span 2;
      display: flex;
      align-items: center;

      input {
        margin-right: 8px;
        width: 20px;
        height: 20px;
        border-radius: 0px;
      }

      a {
        color: $color-brand-blue;
        text-decoration: none;
      }
    }
  }
  @media (max-width: 991px) {
    padding: 20px;
    width: 100%;
    .margin-bottom {
      margin-top: 0px;
    }
    .insurance-types {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .insurance-form {
      grid-template-columns: 1fr;
    }
  }
}

.scroll-down-indicator {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;

  img {
    width: 30px;
    height: 30px;
    animation: bounce 2s infinite;
  }
}

@media (max-width: 1100px) {
  .container {
    padding: 0px 20px;
  }
}

@media (max-width: 768px) {
  .main_heading_text {
    font-size: 30px;
    font-weight: 500;
  }
}
